{% load static %}
<div class="card position-relative" style="width: 18rem;">
  <div class="ratio ratio-4x3">
    {% with image=product.image %}
    {% if image %}
    <img src="{{ image.url }}" class="card-img-top object-fit-cover" alt="{{ product.name }}">
    {% else %}
    <img src="{% static 'placeholder.png' %}" class="card-img-top object-fit-cover" alt="{{ product.name }}">
    {% endif %}
    {% endwith %}
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <div class="d-flex justify-content-between align-items-center">
        <span>
          {{ product.name }}
        </span>
        <span>
          {{ product.price }}
        </span>
      </div>
    </h5>
    <p class="card-text">
      {{ product.description }}
    </p>
    <a class="position-absolute top-0 bottom-0 start-0 end-0 z-1" href="{% url 'product' product_id=product.id %}"></a>
    <button class="btn btn-primary z-2 position-relative add-to-card" data-product-id="{{ product.id }}">Add to Cart</button>
  </div>
</div>
