{% extends "base.html" %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-12 d-flex flex-column" style="gap: 1rem;">
    <h1>Account</h1>

    <span class="fs-5 text-black-50">
      Name: {{ user.first_name }} {{ user.last_name }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex flex-column" style="gap: 1rem;">
    <h1>Orders</h1>

    <div class="d-flex flex-column p-3 border border-rounded bg-light" style="gap: 0.75rem;">
      {% for order in orders %}
      {% include "partials/order-item.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
