africastalking==1.2.9
celery==5.5.3
Django==5.2.5
django-filter==25.1
django-redis==6.0.0
djangorestframework==3.16.1
gunicorn==23.0.0
Markdown==3.8.2
pillow==11.3.0
psycopg2==2.9.10
python-dotenv==1.1.1
redis==6.4.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
